html, body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background: #f0fbfd;
    background: -moz-linear-gradient(left, rgba(242,247,255,1) 0%, rgba(255,246,242,1) 100%);
    background: -webkit-linear-gradient(left, rgba(242,247,255,1) 0%,rgba(255,246,242,1) 100%);
    background: linear-gradient(to right, rgba(242,247,255,1) 0%,rgba(255,246,242,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f7ff', endColorstr='#fff6f2',GradientType=1 );
}
.content{
    width: 80vw;
    min-width: 900px;
    margin: auto;
    overflow: hidden;
}

img{
    max-width: 100%;
}
a{
    color: #484848;
}
a:hover{
    color: black;
}


/* nav */

#fedinav {
}
#fedinav ol {
    list-style: none;
    padding: 0;
}
#fedinav li {
    display: inline-block;
}
#fedinav a {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
}
#fedinav a:hover {
    background-color: white;
}

#fediloader {
    position: fixed;
    top: 20vh;
    left: calc(50% - 25px);
    right: calc(50% - 25px);
}
#fediloader i {
    width: 50px;
    height: 50px;
    background-color: white;
    padding: 10px;
    border-radius: 50%;
}


/* header */

header{
    margin-bottom: 5vh;
    padding-bottom: 5vh;
    border: 40px solid #171000;
    border-bottom: 0;
    text-align: center;
    overflow: hidden;
}
.banner{
    margin-bottom: 5vh; 
    height: 30vh;
    background-size: cover;
    border-bottom: 6px solid white;
    overflow: hidden;
}


header h1, header h2{
    margin: 5px 0;
}
header h1{
    font-size: 2.5em;
}
header h2{
    color:#8e8e8e;
}

header p {
    font-style: italic;
}

@media only screen and (max-width: 900px) {
    .content{
        min-width: auto;
        width: 100vw;
    }
    main, #fedifoot {
        box-sizing: border-box;
        padding: 0 2vw;
    }
}


/* footer */

footer{
    margin: 5vh 0;
    border: 40px solid #171000;
    border-top: 0;
    overflow: hidden;
}


/* foot */

#fedifoot {
    margin-top: 7vh;
    margin-bottom: 4vh;
    padding-top: 2vh;
    border-top: 6px solid white;
}

#fedifoot p{
    display: inline-block;
}
#fedifoot p:last-child{
    float: right;
}
@media only screen and (max-width: 900px) {
    #fedifoot p:last-child {
        float: none;
    }
    #fedifoot p{
        display: block;
        text-align: center;
    }
}

#fedifoot a{
    text-decoration: none;
    font-weight: bold;
}
#fedifoot a:hover {
    text-decoration: underline;
}


#fedifoot .logo{
    width: 43px;
    margin: -10px 5px;
}


/* content */

pre {
    padding: 20px;
    background-color: white;
    /*-webkit-box-shadow:inset 0 0 10px -5px rgba(0,0,0,0.2);
    box-shadow:inset 0 0 10px -5px rgba(0,0,0,0.2);*/
}

blockquote {
    padding: 10px 20px;
    font-style: italic;
    border-left: 6px solid white;
}

hr {
    border: 0;
    border-top: 6px solid black;
}

.footnotes{
    margin: 40px 0;
}
