.user-card{
    position: relative;
    display: block;
    height: 15vh;
    padding: 2.5vh;
    text-decoration: none;
    color: inherit;
    border-top: 6px solid white;
}
.user-card:hover {
    background: white;
}
.user-card .avatar{
    position: absolute;
    left: 2.5vh;
    margin: 2.5vh;
    width: 10vh;
    height: 10vh;
    border-radius: 100%;
    background-color: white;
}
.user-card>div:last-child{
    position: absolute;
    left: 20vh;
}
.user-card h4, .user-card h5, .user-card p{
    margin: 0;
    padding: 0;
    margin-bottom: 1vh;
    font-size: 18px;
}
.user-card h4 {
    font-size: 1.5em;
}